<style>
    .results-table {
        margin-top: 20px;
    }

    .results-table th,
    .results-table td {
        text-align: left;
        padding: 10px;
    }

    .results-table th {
        background-color: #f8f9fa;
    }

    .results-table td {
        background-color: #fff;
    }

    .duration {
        font-style: italic;
    }

    #duration-chart-container {
        max-width: 400px;
        /* Adjusted the maximum width */
        margin: 20px auto;
    }

    #duration-chart {
        width: 100% !important;
        height: auto !important;
    }

    .status-icon {
        font-size: 2rem;
    }

    .status-icon.valid {
        color: green;
    }

    .status-icon.invalid {
        color: red;
    }
</style>
