<!-- Breadcrumb -->
{% if breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-house"></i></li></a>
        {% for crumb in breadcrumbs %}
        {% if loop.last %}
        <li class="breadcrumb-item active" aria-current="page">{{ crumb.text }}</li>
        {% else %}
        <li class="breadcrumb-item"><a href="{{ crumb.url }}">{{ crumb.text }}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
</nav>
{% endif %}