<footer class="footer">
   <div class="container">
      <div class="row">
        <!--
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li><a href="#">Enlace 1</a></li>
            <li><a href="#">Enlace 2</a></li>
            <li><a href="#">Enlace 3</a></li>
          </ul>
        </div>
        -->
        <div class="col-md-12 text-center">
          &copy; 2024 Nombre de la Empresa
        </div>
        <!--
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li><a href="#">Enlace 4</a></li>
            <li><a href="#">Enlace 5</a></li>
            <li><a href="#">Enlace 6</a></li>
          </ul>
        </div>
        -->
      </div>
   </div>
  </footer>
