<!-- app/templates/logs.html -->

{% extends "base.html" %}

{% block title %}Logs{% endblock %}

{% block content %}
    <h2>Logs</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Pagina</th>
                <th>Evento</th>
                <th>Descripción</th>
                <th>Fecha y Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.user.username }}</td>
                <td>{{ log.user.page }}</td>
                <td>{{ log.event }}</td>
                <td>{{ log.description }}</td>
                <td>{{ log.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
