<!-- app/templates/tools/seo/titles.html -->
 
{% extends "base.html" %}

{% block title %}{{title}} | {{slogan}}{% endblock %}
{% block description %}{{slogan}}{% endblock %}
{% block keywords %}{{keywords}}{% endblock %}


{% block content %}


{% include 'tools/styles.html' %}

    {% include 'inc/breadcrumbs.html' %}

    <h2  class="mb-3">{{title}} <i class="bi bi-info-circle info-icon" data-bs-toggle="modal" data-bs-target="#infoModal"></i></h2>
    <p  class="mb-3">{{ slogan }}</p>

    <div class="alert alert-info" role="alert">
        <p class="mb-0">{{ definition }}</p>
    </div>

    {% include 'tools/quick_form.html' %}

    <hr>
    {% if results %}
        <h3>Resultados de {{ title }}:</h3>

        <div class="row">
            <div class="col-md-6">
                <p class="duration">Duración del scan: {{ duration }} segundos</p>
                <div id="duration-chart-container">
                    <canvas id="duration-chart"></canvas>
                </div>
            </div>
            <div class="col-md-6 text-center">
                {% if is_results_valid %}
                <i class="fas fa-check-circle status-icon valid"></i>
                <p class="text-success">Resultados válidos</p>
                {% else %}
                <i class="fas fa-exclamation-circle status-icon invalid"></i>
                <p class="text-danger">Resultados no válidos</p>
                {% endif %}
            </div>
        </div>

        {% if is_results_valid %}
           
            <h2 class="section-title">Page Title Issues</h2>
            <div class="row">
                <div class="col-md-6">
                    <p class="list-item list-item-border" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="Missing"
                        data-bs-html="true">
                        <strong>Missing:</strong> {% if
                        results['Title_1'] %} {{ results['Title_1']}}
                    </p>
                    <p class="list-item list-item-border" data-bs-toggle="tooltip"
                    data-bs-placement="right" title="Missing"
                    data-bs-html="true">
                    <strong>Missing:</strong> {% if
                    results['Title_1_Length'] %} {{ results['Title_1_Length']}}
                    </p>
                    <p class="list-item list-item-border" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="Missing"
                        data-bs-html="true">
                        <strong>Missing:</strong> {% if
                        results['Missing'] %}<span
                            class="badge bg-success"><i class="fas fa-check"></i>
                            True</span>{% else
                        %}<span class="badge bg-danger"><i class="fas fa-times"></i>
                            False</span>{% endif
                        %}
                    </p>
                    <p class="list-item list-item-border" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="Duplicate"
                        data-bs-html="true">
                        <strong>Duplicate:</strong> {% if
                            results['Duplicate'] %}<span
                            class="badge bg-success"><i class="fas fa-check"></i>
                            True</span>{% else
                        %}<span class="badge bg-danger"><i class="fas fa-times"></i>
                            False</span>{% endif
                        %}
                    </p>
                    <p class="list-item list-item-border" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="Over 60 characters"
                        data-bs-html="true">
                        <strong>Over 60 characters:</strong> {% if
                            results['Over_60_characters'] %}<span
                            class="badge bg-success"><i class="fas fa-check"></i>
                            True</span>{% else
                        %}<span class="badge bg-danger"><i class="fas fa-times"></i>
                            False</span>{% endif
                        %}
                    </p>
                    <p class="list-item list-item-border" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="Below 30 characters"
                        data-bs-html="true">
                        <strong>Below 30 characters:</strong> {% if
                            results['Below_30_characters'] %}<span
                            class="badge bg-success"><i class="fas fa-check"></i>
                            True</span>{% else
                        %}<span class="badge bg-danger"><i class="fas fa-times"></i>
                            False</span>{% endif
                        %}
                    </p>
                
                    <p class="list-item list-item-border" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="Same as h1"
                        data-bs-html="true"><strong>Same as
                            h1:</strong> {% if
                                results['Same_as_h1'] %}<span
                            class="badge bg-success"><i class="fas fa-check"></i>
                            True</span>{% else
                        %}<span class="badge bg-danger"><i class="fas fa-times"></i>
                            False</span>{% endif
                        %}</p>
                    <p class="list-item list-item-border" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="Multiple"
                        data-bs-html="true">
                        <strong>Multiple:</strong> {% if
                            results['Multiple'] %}<span
                            class="badge bg-success"><i class="fas fa-check"></i>
                            True</span>{% else
                        %}<span class="badge bg-danger"><i class="fas fa-times"></i>
                            False</span>{% endif
                        %}
                    </p>
                    <p class="list-item list-item-border" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="Outside &lt;head&gt;"
                        data-bs-html="true">
                        <strong>Outside &lt;head&gt;:</strong> {% if
                            results['Outside_head'] %}<span class="badge bg-success"><i
                                    class="fas fa-check"></i> True</span>{% else
                            %}<span class="badge bg-danger"><i
                                    class="fas fa-times"></i> False</span>{%
                            endif %}
                    </p>
                </div>
            </div>
        {% else %}
            <p>No se encontraron resultados válidos.</p>
        {% endif %}

        {% include 'tools/buzz_report.html' %}

    {% endif %}

    {% include 'tools/help_modal.html' %}

{% endblock %}