<!-- app/templates/tools/dmains/whois.html -->
 
{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}


{% block content %}


<style>
    .results-table {
        margin-top: 20px;
    }

    .results-table th,
    .results-table td {
        text-align: left;
        padding: 10px;
    }

    .results-table th {
        background-color: #f8f9fa;
    }

    .results-table td {
        background-color: #fff;
    }

    .duration {
        font-style: italic;
    }

    #duration-chart-container {
        max-width: 400px;
        /* Adjusted the maximum width */
        margin: 20px auto;
    }

    #duration-chart {
        width: 100% !important;
        height: auto !important;
    }

    .status-icon {
        font-size: 2rem;
    }

    .status-icon.valid {
        color: green;
    }

    .status-icon.invalid {
        color: red;
    }
</style>
<div class="container content"> <!-- mt-5 -->
    <h2  class="mb-3">{{title}} <i class="bi bi-info-circle info-icon" data-bs-toggle="modal" data-bs-target="#infoModal"></i></h2>
    <p  class="mb-3">{{ definition }}</p>

    <div class="alert alert-info" role="alert">
        <p class="mb-0">{{ definition }}</p>
    </div>

    <div class="row mb-3">
        <form method="POST">
        {{ form.hidden_tag() }}
            <div class="col-md-3">
                    <div class="form-group">
                        {{ form.domain.label }}
                        {{ form.domain(class="form-control") }}
                        {% for error in form.domain.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <!-- <button type="submit" class="btn btn-primary"></button> -->
            </div>
            <div class="col-md-3 d-flex align-items-end">
                <button type="submit" class="btn btn-primary w-100">Enviar</button>
            </div>
        </form>
    </div>

    <hr>
    {% if results %}
        <h3>Resultados de {{ title }}:</h3>
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card border-info">
                    <div class="card-body text-center">
                        <div class="card-icon text-info"><i class="fas fa-stopwatch"></i></div>
                        <h5 class="card-title">First Contentful Paint (FCP)</h5>
                        <p class="card-text">2.1 seconds</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-warning">
                    <div class="card-body text-center">
                        <div class="card-icon text-warning"><i class="fas fa-image"></i></div>
                        <h5 class="card-title">Largest Contentful Paint (LCP)</h5>
                        <p class="card-text">2.94 seconds</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-danger">
                    <div class="card-body text-center">
                        <div class="card-icon text-danger"><i class="fas fa-hand-pointer"></i></div>
                        <h5 class="card-title">First Input Delay (FID)</h5>
                        <p class="card-text">553 milliseconds</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-primary">
                    <div class="card-body text-center">
                        <div class="card-icon text-primary"><i class="fas fa-ruler-combined"></i></div>
                        <h5 class="card-title">Cumulative Layout Shift (CLS)</h5>
                        <p class="card-text">0.7813</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="duration">Duración del scan: {{ duration }} segundos</p>
                <div id="duration-chart-container">
                    <canvas id="duration-chart"></canvas>
                </div>
            </div>
            <div class="col-md-6 text-center">
                {% if is_results_valid %}
                <i class="fas fa-check-circle status-icon valid"></i>
                <p class="text-success">Resultados válidos</p>
                {% else %}
                <i class="fas fa-exclamation-circle status-icon invalid"></i>
                <p class="text-danger">Resultados no válidos</p>
                {% endif %}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-6">
                <canvas id="fcpEvolution"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="lcpEvolution"></canvas>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6">
                <canvas id="fidEvolution"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="clsEvolution"></canvas>
            </div>
        </div>

        {% if is_results_valid %}
            <table class="table table-striped table-bordered results-table">
                <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in results['whois_lookup'].items() %}
                    {% if value %}
                    <tr>
                        <th>{{ key | replace("_", " ") | title }}</th>
                        <td>
                            {% if value is string %}
                            {{ value }}
                            {% elif value is iterable and not value is string %}
                            <ul>
                                {% for item in value %}
                                <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            {{ value }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No se encontraron resultados válidos.</p>
        {% endif %}

        <h4 class="mb-3">FandangoSEO's Data</h4>
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card border-info">
                    <div class="card-body text-center">
                        <div class="card-icon text-info"><i class="fas fa-stopwatch"></i></div>
                        <h5 class="card-title">First Contentful Paint (FCP)</h5>
                        <p class="card-text">2.64 seconds</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-warning">
                    <div class="card-body text-center">
                        <div class="card-icon text-warning"><i class="fas fa-image"></i></div>
                        <h5 class="card-title">Largest Contentful Paint (LCP)</h5>
                        <p class="card-text">3.03 seconds</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-danger">
                    <div class="card-body text-center">
                        <div class="card-icon text-danger"><i class="fas fa-hand-pointer"></i></div>
                        <h5 class="card-title">First Input Delay (FID)</h5>
                        <p class="card-text">597 milliseconds</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-primary">
                    <div class="card-body text-center">
                        <div class="card-icon text-primary"><i class="fas fa-ruler-combined"></i></div>
                        <h5 class="card-title">Cumulative Layout Shift (CLS)</h5>
                        <p class="card-text">0.0005</p>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="mb-3">Web Vitals by PageType</h4>
        <table id="webVitalsPageType" class="table table-striped">
            <thead>
                <tr>
                    <th>Pagetype</th>
                    <th>Section</th>
                    <th>Level</th>
                    <th>FCP</th>
                    <th>LCP</th>
                    <th>FID</th>
                    <th>CLS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Posts</td>
                    <td>General</td>
                    <td>Level 16</td>
                    <td><span class="text-danger">●</span></td>
                    <td><span class="text-warning">●</span></td>
                    <td><span class="text-success">●</span></td>
                    <td><span class="text-danger">●</span></td>
                </tr>
                <tr>
                    <td>Home</td>
                    <td>General</td>
                    <td>Level 0</td>
                    <td><span class="text-warning">●</span></td>
                    <td><span class="text-success">●</span></td>
                    <td><span class="text-danger">●</span></td>
                    <td><span class="text-danger">●</span></td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>General</td>
                    <td>Level 16</td>
                    <td><span class="text-danger">●</span></td>
                    <td><span class="text-warning">●</span></td>
                    <td><span class="text-success">●</span></td>
                    <td><span class="text-danger">●</span></td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>

        <h4 class="mb-3">Web Vitals by Pages</h4>
        <table id="webVitalsPages" class="table table-striped">
            <thead>
                <tr>
                    <th>Page URL</th>
                    <th>FCP</th>
                    <th>LCP</th>
                    <th>FID</th>
                    <th>CLS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/resultados-bonoloto-jueves-26-de-noviembre-1618</td>
                    <td><span class="text-warning">●</span></td>
                    <td><span class="text-warning">●</span></td>
                    <td><span class="text-danger">●</span></td>
                    <td><span class="text-danger">●</span></td>
                </tr>
                <tr>
                    <td>/resultados-bonoloto-sabado-2-de-abril-2057</td>
                    <td><span class="text-warning">●</span></td>
                    <td><span class="text-warning">●</span></td>
                    <td><span class="text-danger">●</span></td>
                    <td><span class="text-danger">●</span></td>
                </tr>
                <tr>
                    <td>/resultados-primitiva-jueves-21-de-enero-1798</td>
                    <td><span class="text-warning">●</span></td>
                    <td><span class="text-warning">●</span></td>
                    <td><span class="text-danger">●</span></td>
                    <td><span class="text-danger">●</span></td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>

    {% endif %}
</div>
     <!-- Help Modal -->
     <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Core Web Vitals Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Core Web Vitals are a set of specific factors that Google considers important in a webpage's overall user experience.</p>
                    <ul>
                        <li><strong>First Contentful Paint (FCP):</strong> Measures the time from when the page starts loading to when any part of the page's content is rendered on the screen.</li>
                        <li><strong>Largest Contentful Paint (LCP):</strong> Measures the time from when the page starts loading to when the largest text block or image element is rendered on the screen.</li>
                        <li><strong>First Input Delay (FID):</strong> Measures the time from when a user first interacts with the page (i.e., when they click a link, tap on a button) to the time when the browser is able to begin processing event handlers in response to that interaction.</li>
                        <li><strong>Cumulative Layout Shift (CLS):</strong> Measures the sum total of all individual layout shift scores for every unexpected layout shift that occurs during the entire lifespan of the page.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var ctx = document.getElementById('duration-chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Duración del scan'],
                datasets: [{
                    label: 'Tiempo (segundos)',
                    data: [{{ duration }}],
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
            options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
            });
        });


    const fcpCtx = document.getElementById('fcpEvolution').getContext('2d');
    const lcpCtx = document.getElementById('lcpEvolution').getContext('2d');
    const fidCtx = document.getElementById('fidEvolution').getContext('2d');
    const clsCtx = document.getElementById('clsEvolution').getContext('2d');

    const fcpChart = new Chart(fcpCtx, {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May'],
            datasets: [{
                label: 'FCP Evolution',
                data: [2.5, 2.2, 2.3, 2.1, 2.4],
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2,
                fill: false
            }]
        }
    });

    const lcpChart = new Chart(lcpCtx, {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May'],
            datasets: [{
                label: 'LCP Evolution',
                data: [3.0, 3.2, 3.1, 2.9, 3.3],
                borderColor: 'rgba(255, 206, 86, 1)',
                borderWidth: 2,
                fill: false
            }]
        }
    });

    const fidChart = new Chart(fidCtx, {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May'],
            datasets: [{
                label: 'FID Evolution',
                data: [600, 580, 590, 570, 610],
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 2,
                fill: false
            }]
        }
    });

    const clsChart = new Chart(clsCtx, {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May'],
            datasets: [{
                label: 'CLS Evolution',
                data: [0.08, 0.09, 0.07, 0.06, 0.1],
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 2,
                fill: false
            }]
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('#webVitalsPageType').DataTable();
        $('#webVitalsPages').DataTable();
    });
</script>

{% endblock %}