<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Agrega otros enlaces CSS si es necesario -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <style>

      /* Estilos personalizados */
      body {
            background-color: {{ config.COLOR_PRIMARY }};
            color: {{ config.COLOR_SECONDARY }};
        }

        .navbar {
            background-color: {{ config.COLOR_PRIMARY }};
            color: {{ config.COLOR_SECONDARY }};
        }

        .footer {
            background-color: {{ config.COLOR_SECONDARY }};
            color: {{ config.COLOR_PRIMARY }};
      }   

    </style>
</head>
<body>
    <!-- Cabecera -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">{{ config.WEB_NAME }}</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% if current_user.is_authenticated %}
                    <a class="nav-link" href="#">Hola usuario {{ current_user.username }}</a>
                    {% else %}
                    <a class="nav-link" href="#">Hola usuario anónimo</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if current_user.is_authenticated %}
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    <!-- Barra lateral -->
    <div class="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('usuarios') }}">Usuarios</a>
            </li>
            {% if current_user.is_authenticated and current_user.role == 'admin' %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Añadir usuarios</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('configuracion') }}">Configuración</a>
            </li>
        </ul>
    </div>

    <!-- Contenido principal -->
    <div class="container-fluid">
        <div class="row flash_message col-md-9 ml-sm-auto col-lg-10 px-4">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
     
        <div class="row">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

    <!-- Pie de página -->
    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">© 2024 Flask App</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Agrega otros enlaces JS si es necesario -->
</body>
</html>


