<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flask App{% endblock %}</title>
    <!-- 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    -->
    <!-- Aquí puedes agregar otros enlaces a CSS si es necesario -->
</head>
<body>
    <div class="container">

        <div class="flash_message">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <!-- Aquí puedes agregar otros enlaces a JavaScript si es necesario -->
</body>
</html>
